In [1]:
# Mount your Google drive folder on Colab
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

Mounted at /content/gdrive

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("/content/gdrive/My Drive/Hotel_Reviews.csv")

In [4]:
df.head()

                                       Hotel_Address  ...       lng
0   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...  ...  4.915968
1   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...  ...  4.915968
2   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...  ...  4.915968
3   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...  ...  4.915968
4   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...  ...  4.915968

[5 rows x 17 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Hotel_Address                               515738 non-null  object
 1   Additional_Number_of_Scoring                515738 non-null  int64
 2   Review_Date                                 515738 non-null  object
 3   Average_Score                               515738 non-null  float64
 4   Hotel_Name                                  515738 non-null  object
 5   Reviewer_Nationality                        515738 non-null  object
 6   Negative_Review                             515738 non-null  object
 7   Review_Total_Negative_Word_Counts           515738 non-null  int64
 8   Total_Number_of_Reviews                     515738 non-null  int64
 9   Positive_Review                             515738 non-null  object
 10  Review_Total_Positive_Word_Counts           515738 non-null  int64
 11  Total_Number_of_Reviews_Reviewer_Has_Given  515738 non-null  int64
 12  Reviewer_Score                              515738 non-null  float64
 13  Tags                                        515738 non-null  object
 14  days_since_review                           515738 non-null  object
 15  lat                                         512470 non-null  float64
 16  lng                                         512470 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 66.9+ MB

In [6]:
df.columns

Index(['Hotel_Address', 'Additional_Number_of_Scoring', 'Review_Date',
       'Average_Score', 'Hotel_Name', 'Reviewer_Nationality',
       'Negative_Review', 'Review_Total_Negative_Word_Counts',
       'Total_Number_of_Reviews', 'Positive_Review',
       'Review_Total_Positive_Word_Counts',
       'Total_Number_of_Reviews_Reviewer_Has_Given', 'Reviewer_Score', 'Tags',
       'days_since_review', 'lat', 'lng'],
      dtype='object')

In [7]:
df['lat'].nunique()

1472

In [8]:
#Fill missing latitudes
for i in range(351449,352107):
  df['lat'].iloc[i] = 48.2094
for i in range(465289,465852):
  df['lat'].iloc[i] = 16.5127
for i in range(500179,500568):
  df['lat'].iloc[i] = 48.2100
for i in range(177657,177947):
  df['lat'].iloc[i] = 48.8753
for i in range(365418,365663):
  df['lat'].iloc[i] = 48.1888
for i in range(499956,500179):
  df['lat'].iloc[i] = 48.2168
for i in range(440791,440985):
  df['lat'].iloc[i] = 48.2196
for i in range(449450,449597):
  df['lat'].iloc[i] = 48.2460
for i in range(282265,282411):
  df['lat'].iloc[i] = 41.3916
for i in range(327680,327773):
  df['lat'].iloc[i] = 48.2209
for i in range(338919,338980):
  df['lat'].iloc[i] = 19.4147
for i in range(352107,352164):
  df['lat'].iloc[i] = 48.2095
for i in range(116738,116793):
  df['lat'].iloc[i] = 48.8889
for i in range(395735,395784):
  df['lat'].iloc[i] = 48.1868
for i in range(99488,99525):
  df['lat'].iloc[i] = 48.8400
for i in range(401983,402016):
  df['lat'].iloc[i] = 41.3927
for i in range(449422,449450):
  df['lat'].iloc[i] = 41.3833

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [9]:
#Fill missing longitudes
for i in range(351449,352107):
  df['lng'].iloc[i] = 16.3534
for i in range(465289,465852):
  df['lng'].iloc[i] = 80.6260
for i in range(500179,500568):
  df['lng'].iloc[i] = 16.3634
for i in range(177657,177947):
  df['lng'].iloc[i] = 2.3234
for i in range(365418,365663):
  df['lng'].iloc[i] = 16.3838
for i in range(499956,500179):
  df['lng'].iloc[i] = 16.3599
for i in range(440791,440985):
  df['lng'].iloc[i] = 16.2855
for i in range(449450,449597):
  df['lng'].iloc[i] = 16.3412
for i in range(282265,282411):
  df['lng'].iloc[i] = 2.1779
for i in range(327680,327773):
  df['lng'].iloc[i] = 16.3666
for i in range(338919,338980):
  df['lng'].iloc[i] = 99.1846
for i in range(352107,352164):
  df['lng'].iloc[i] = 16.3515
for i in range(116738,116793):
  df['lng'].iloc[i] = 2.3331
for i in range(395735,395784):
  df['lng'].iloc[i] = 16.4207
for i in range(99488,99525):
  df['lng'].iloc[i] = 2.3236
for i in range(401983,402016):
  df['lng'].iloc[i] = 2.1674
for i in range(449422,449450):
  df['lng'].iloc[i] = 2.1628

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Hotel_Address                               515738 non-null  object
 1   Additional_Number_of_Scoring                515738 non-null  int64
 2   Review_Date                                 515738 non-null  object
 3   Average_Score                               515738 non-null  float64
 4   Hotel_Name                                  515738 non-null  object
 5   Reviewer_Nationality                        515738 non-null  object
 6   Negative_Review                             515738 non-null  object
 7   Review_Total_Negative_Word_Counts           515738 non-null  int64
 8   Total_Number_of_Reviews                     515738 non-null  int64
 9   Positive_Review                             515738 non-null  object
 10  Review_Total_Positive_Word_Counts           515738 non-null  int64
 11  Total_Number_of_Reviews_Reviewer_Has_Given  515738 non-null  int64
 12  Reviewer_Score                              515738 non-null  float64
 13  Tags                                        515738 non-null  object
 14  days_since_review                           515738 non-null  object
 15  lat                                         515738 non-null  float64
 16  lng                                         515738 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 66.9+ MB

In [12]:
515738*(2/3)

343825.3333333333

In [13]:
df[:171912].to_csv('/content/gdrive/My Drive/Hotel_Review_Dataset(1).csv')
df[171912:343825].to_csv('/content/gdrive/My Drive/Hotel_Review_Dataset(2).csv')
df[343825:].to_csv('/content/gdrive/My Drive/Hotel_Review_Dataset(3).csv')