In [1]:
import pandas as pd
import numpy as np

In [71]:
df= pd.read_csv("data/Hotel_review_feature_engineering.csv")
df.head()

,Unnamed: 0,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,...,wi_fi,air_conditioning,breakfast,booking_com,room_problem,location,staff,bed_and_room,month,year
0,0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,8,2017
1,1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,8,2017
2,2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,7,2017
3,3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,UK,My room was dirty and I was afraid to walk ba...,210,1403,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,7,2017
4,4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7,2017

In [72]:
df.columns

Index(['Unnamed: 0', 'Hotel_Address', 'Additional_Number_of_Scoring',
       'Review_Date', 'Average_Score', 'Hotel_Name', 'Reviewer_Nationality',
       'Negative_Review', 'Review_Total_Negative_Word_Counts',
       'Total_Number_of_Reviews', 'Positive_Review',
       'Review_Total_Positive_Word_Counts',
       'Total_Number_of_Reviews_Reviewer_Has_Given', 'Reviewer_Score', 'Tags',
       'days_since_review', 'lat', 'lng', 'Country', 'City', 'tourist',
       'Trip_type', 'Travelling_Status', 'stay_duration', 'room_small',
       'wi_fi', 'air_conditioning', 'breakfast', 'booking_com', 'room_problem',
       'location', 'staff', 'bed_and_room', 'month', 'year'],
      dtype='object')

In [73]:
negative_reviews = df["Negative_Review"]
negative_reviews[2]

' Rooms are nice but for elderly a bit difficult as most rooms are two story with narrow steps So ask for single level Inside the rooms are very very basic just tea coffee and boiler and no bar empty fridge '

In [74]:
positive_reviews = df["Positive_Review"]
positive_reviews[10]

' Rooms were stunningly decorated and really spacious in the top of the building Pictures are of room 300 The true beauty of the building has been kept but modernised brilliantly Also the bath was lovely and big and inviting Great more for couples Restaurant menu was a bit pricey but there were loads of little eatery places nearby within walking distance and the tram stop into the centre was about a 6 minute walk away and only about 3 or 4 stops from the centre of Amsterdam Would recommend this hotel to anyone it s unbelievably well priced too '

In [75]:
len(negative_reviews), len(positive_reviews)

(515738, 515738)

In [76]:
negative_reviews = pd.DataFrame({"Reviews" : negative_reviews,
                                 "Target"  : np.zeros((len(negative_reviews),), dtype = "int8")
                                })
negative_reviews.head()

                                             Reviews  Target
0   I am so angry that i made this post available...       0
1                                        No Negative       0
2   Rooms are nice but for elderly a bit difficul...       0
3   My room was dirty and I was afraid to walk ba...       0
4   You When I booked with your company on line y...       0

In [77]:
positive_reviews = pd.DataFrame({"Reviews" : positive_reviews,
                                 "Target"  : np.ones((len(positive_reviews),), dtype = "int8")
                                })
positive_reviews.head()

                                             Reviews  Target
0   Only the park outside of the hotel was beauti...       1
1   No real complaints the hotel was great great ...       1
2   Location was good and staff were ok It is cut...       1
3   Great location in nice surroundings the bar a...       1
4    Amazing location and building Romantic setting        1

In [83]:
combined = pd.concat([positive_reviews, negative_reviews],axis = 0)
combined = combined.sample(frac = 1).reset_index(drop = True)
combined.head()

                                             Reviews  Target
0                                        No Negative       0
1   The room was lovely and big The beds were exc...       1
2              Could do with extra lighting in rooms       0
3                                            Nothing       0
4   The hotel was very comfortable Staff were gre...       1

In [98]:
combined["Reviews"][17]

' What I didn t like was nothing to do with Hyatt Churchill it is all about Hyatt Group they downgraded me after nine years stays on weekly basis just because I didn t stay in Hyatt for 6 months and that was because of Grand Hyatt Dubai that they had gap and lackof eexperience in handling my account as they account manager left the hotel and the new person didn t know which rate to apply until someone else came and solved the problem During that time I was staying in other hotel which took them 6 moth to resolve it '

In [107]:
combined.to_csv("data/Sentiment_data.csv",index = False)

['What',
 'like',
 'nothing',
 'Hyatt',
 'Churchill',
 'Hyatt',
 'Group',
 'downgraded',
 'nine',
 'years',
 'stays',
 'weekly',
 'basis',
 'stay',
 'Hyatt',
 'months',
 'Grand',
 'Hyatt',
 'Dubai',
 'gap',
 'lackof',
 'eexperience',
 'handling',
 'account',
 'account',
 'manager',
 'left',
 'hotel',
 'new',
 'person',
 'know',
 'rate',
 'apply',
 'someone',
 'else',
 'came',
 'solved',
 'problem',
 'During',
 'time',
 'staying',
 'hotel',
 'took',
 'moth',
 'resolve']